#buttonBox {
	position: absolute;
	left: 75%;
	top: 80%;
	font-size: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tetrisButton{
	font-family: "VT323";
	z-index: 1;
	margin: 3px;
}

.tetrisButton:hover {
	text-decoration: underline !important;
	cursor: pointer;
}

#tetris {
	border: solid 2px black;
}