body {
	top: 0;
	margin: 0;
	background-color: #d0a9f5;
	display: flex;
	justify-content: center;
}

.wrapper {
	background-color: orange;
	height: 100vh;
	width: 90vw; /* change for side spacing */
	display: flex;
}

.gameHolder {
	background-color: blue;
	padding: 0;
	flex: 2;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.thing {
	margin: 0;
	border: 2px solid red;
}

#me {
	flex: 1;
}