body {
	top: 0;
	margin: 0;
	background-color: #141414;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
	font-family: Helvetica, sans-serif;
	color: whitesmoke;
}

.wrapper {
	width: 90vw;
	/* change for side spacing */
	display: flex;
}

.gameHolder {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.thing {
	padding: 0 12px 12px 0;
}

#me {
	/* background-color: blue; */
	flex: 1;
}